In [9]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql://postgres:1234@localhost/CovidPortfolio')

In [7]:
df = pd.read_csv('CovidDeaths.csv', sep = ';')
df.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,03/01/2020,411287720,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,04/01/2020,411287720,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,05/01/2020,411287720,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,06/01/2020,411287720,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,07/01/2020,411287720,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.to_sql('CovidDeaths', engine, if_exists='replace')

114

In [13]:
df2 = pd.read_csv('CovidVaccs.csv', sep = ';')
df2.head()

,iso_code,continent,location,date,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,03/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37746.0,5.0,6483.0,511.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,04/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37746.0,5.0,6483.0,511.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,05/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37746.0,5.0,6483.0,511.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,06/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37746.0,5.0,6483.0,511.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,07/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37746.0,5.0,6483.0,511.0,NaN,NaN,NaN,NaN

In [14]:
df2.to_sql('CovidVaccinations', engine, if_exists='replace')

114